<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>VUE3语法模板</title>
    <script src="js/vue.global.js"></script>
    <style>
        .class1{
            background: #444;
            color: #eee;
        }
    </style>
</head>
<body>
<div id="app">
    <p>{{ message }}</p>
</div>
<br>-*-*-*-*-*-*-*-*-*-*-*-*-*-*-<br>
<div id="example1" class="demo01">
    <p>使用双大括号的文本插值：{{rawHtml}}</p>
    <p>使用v-html指令：<span v-html="rawHtml"></span></p>
</div>
<br>-*-*-*-*-*-*-*-*-*-*-*-*-*-*-<br>
<!--以下实例判断 use 的值，如果为 true 使用 class1 类的样式，否则不使用该类：-->
<div id="v-bind">
    <label for="r1">修改颜色</label>
    <input type="checkbox" v-model="use" id="r1">
    <br><br>
    <div v-bind:class="{'class1':use}">
        v-bind:class指令
    </div>
</div>
<br>-*-*-*-*-*-*-*-*-*-*-*-*-*-*-<br>
<div id="expression">
    {{ 5+5 }}<br>
    {{ ok ? 'YES' : 'NO' }}<br>
    {{ message.split('').reverse().join('')}}<br>
    <div v-bind:id="'list-' + id">vue教程</div>
</div>
<br>-*-*-*-*-*-*-*-*-*-*-*-*-*-*-<br>
<div id="youSee">
    <p v-if="see">you see see you, one day day, more fat fat</p>
</div>
<br>-*-*-*-*-*-*-*-*-*-*-*-*-*-*-<br>
<div id="foryou">
    <ol>
        <li v-for="site in sites">
            {{ site.text }}
        </li>
    </ol>
</div>
<br>-*-*-*-*-*-*-*-*-*-*-*-*-*-*-<br>
<div id="paragram">
    <p><a v-bind:href="url">搜索引擎</a></p>
</div>
<!--{{...}} 标签的内容将会被替代为对应组件实例中 message 属性的值，如果 message 属性的值发生了改变，{{...}} 标签内容也会更新。-->
<!--如果不想改变标签的内容，可以通过使用 v-once 指令执行一次性地插值，当数据改变时，插值处的内容不会更新-->
<!--<span v-once>这个不会改变：{{ messag }}</span>-->
<script>
    // Vue 使用了基于 HTML 的模板语法，允许开发者声明式地将 DOM 绑定至底层 Vue 实例的数据。
    // Vue 的核心是一个允许你采用简洁的模板语法来声明式的将数据渲染进 DOM 的系统。
    // 结合响应系统，在应用状态改变时， Vue能够智能地计算出重新渲染组件的最小代价并应用到 DOM 操作上

    //插值
    //文本
    //数据绑定最常见的形式就是使用 {{...}}（双大括号）的文本插值：

    //HTML
    // 使用 v-html 指令用于输出 html 代码：
    const RenderHtmlApp = {
        data(){
            return{
                rawHtml: '<span style="color: pink">这里会显示粉色</span>'
            }
        }
    }
    Vue.createApp(RenderHtmlApp).mount('#example1')

    //属性
    //HTML属性中的值应该使用v-bind命令，如<div v-bind:id="dynamicId"></div>
    //对于布尔属性，常规值为 true 或 false，如果属性值为 null 或 undefined，则该属性不会显示出来。
    // <button v-bind:disabled="isButtonDisabled">按钮</button>
    // 以上代码中如果 isButtonDisabled 的值是 null 或 undefined，则 disabled 属性甚至不会被包含在渲染出来的 <button> 元素中。
    const app = {
        data(){
            return{
                use:true
            }
        }
    }
    Vue.createApp(app).mount('#v-bind')
    //表达式
    //Vue.js 都提供了完全的 JavaScript 表达式支持。
    const expression = {
        data(){
            return{
                ok:false,
                message:'you are handsome boy !!',
                id:0
            }
        }
    }
    Vue.createApp(expression).mount('#expression')
    //指令
    //v-if指令
    const see = {
        data(){
            return{
                see:true
            }
        }
    }
    Vue.createApp(see).mount("#youSee")
    //v-for指令
    const foryou = {
        data(){
            return{
                sites:[
                    {text:"Alibaba"},
                    {text:"tencent"},
                    {text:"tiktok"}
                ]
            }
        }
    }
    Vue.createApp(foryou).mount("#foryou")
    //参数
    const searchlocation = {
        data(){
            return{
                url:'https://www.baidu.com'
            }
        }
    }
    Vue.createApp(searchlocation).mount("#paragram")
</script>
</body>
</html>