<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/XSL/Transform" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>表单</title>
    <script src="js/vue.global.js"></script>
</head>
<body>
<!-- v-model 实现双向数据绑定 -->
    <div id="dataBinding">
        <p>input元素</p>
        <input v-model="message" placeholder="请输入单行文本...">
        <p>input表单消息是：{{ message }}</p>
        <p>多行文本输入</p>
        <textarea v-model="message2" placeholder="多行文本输入..."></textarea>
        <p>textarea表单消息是：</p>
        <p style="white-space: pre">{{ message2 }}</p>
    </div>
    <script>
        const db = Vue.createApp({
            data(){
                return{
                    message:'zyq',
                    message2:'百度首页\r\nhttps://www.baidu.com'
                }
            }
        })
        db.mount("#dataBinding")
    </script>
<!--复选框的双向数据绑定-->
    <div id="checkBox">
        <p>单个复选框</p>
        <input type="checkbox" id="singleBox" v-model="checked">
        <label for="singleBox">{{ checked }}</label>
        <p>多个复选框</p>
        <input type="checkbox" id="tencent" value="Tencent" v-model="checkedNames">
        <label for="tencent">Tencent</label>
        <input type="checkbox" id="alibaba" value="Alibaba" v-model="checkedNames">
        <label for="alibaba">Alibaba</label>
        <input type="checkbox" id="tiktok" value="Tiktok" v-model="checkedNames">
        <label for="tiktok">Tiktok</label>
        <br>
        <span>选中的值为:{{ checkedNames }}</span>
    </div>
    <script>
        const cb = {
            data(){
                return{
                    checked:false,
                    checkedNames:[]
                }
            }
        }
        Vue.createApp(cb).mount("#checkBox")
    </script>
<!--单选的双向数据绑定-->
    <div id="singleButton">
        <input type="radio" id="baidu" value="Baidu" v-model="picked">
        <label for="baidu">Baidu</label>
        <input type="radio" id="mihoyo" value="Mihoyo" v-model="picked">
        <label for="mihoyo">Mihoyo</label>
        <br>
        <span>选中的是：{{ picked }}</span>
    </div>
    <script>
        const sb = {
            data(){
                return{
                    picked:'Mihoyo'
                }
            }
        }
        Vue.createApp(sb).mount("#singleButton")
    </script>
<!--select列表-->
    <div id="selectForm">
        <select v-model="selected" name="fruit">
            <option value="">请选择一个网站</option>
            <option value="https://www.baidu.com">百度</option>
            <option value="https://www.tencent.com">腾讯</option>
            <option value="https://www.taobao.com">阿里</option>
        </select>
        <div>网址：{{ selected }}</div>
    </div>

    <script>
        const selectForm = Vue.createApp({
            data(){
                return{
                    selected:''
                }
            }
        })
        selectForm.mount("#selectForm")
    </script>
<!-- select多选 -->
    <div id="selectedMutiple">
        <select v-model="selected" name="fruit" multiple>
            <option value="https://www.baidu.com">百度</option>
            <option value="https://www.tencent.com">腾讯</option>
            <option value="https://www.taobao.com">阿里</option>
        </select>
        <div>网址是：{{ selected }}</div>
    </div>
    <script>
        const sM = Vue.createApp({
            data(){
                return{
                    selected:'' 
                }
            }
        })
        sM.mount("#selectedMutiple")
    </script>
<!--使用v-for循环输出-->
    <div id="forSelected">
        <select v-model="selected" name="fruit">
            <option v-for="option in options" v-bind:value="option.site">
                {{ option.name }}
            </option>
        </select>
        <p>选择的网址是：{{ selected }}</p>
    </div>
    <script>
        const fs = Vue.createApp({
            data(){
                return{
                    selected:'https://www.baidu.com',
                    options:[
                        {name:'百度',site:"https://www.baidu.com"},
                        {name:'腾讯',site:"https://www.tencent.com"},
                        {name:'阿里',site:"https://www.alibaba.com"}
                    ]
                }
            }
        })
        fs.mount("#forSelected")
    </script>

</body>
</html>